.container {
    display: flex;

  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .movie-list {
    display: grid;

  }
  
  .container, 
  .movie-list {
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }