.logo,
.loading,
.search {
    display: flex;

  }
  
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 }
  
.movie-list {
  display: grid;

}
  
.logo,
.loading,
.search, 
.movie-list {
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}